<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".nativeapp.ParagonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParagonPlanetNative">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1037482572065163" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="50779e7722398e1331c3befff9b48507" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="fb1037482572065163" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nativeapp.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ParagonPlanetNative">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
